.tab-control{
  display:flex;
  height:44px;
  line-height: 44px;
  text-align: center;
}
.tab-item{
  flex:1;
}
.tab-item.active{
  color:red;
}
.tab-item.active span {
  padding:5px 8px;
  border-bottom:3px solid red;
}
